doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='shortcut icon' type='image/png' href='/icons/favicon.png')
      link(rel='stylesheet' href='/stylesheet/style.css')
      title Start Express App

  body
    
    .nav
      a.home(href="/") HOME
    block content

    
