extends base

block content
    .form-container
        h1.heading-primary Reset Password
        br
        form.form#forgotpassword-form
            .form-group
                label.form-label(for='email') Enter your email    
                input.form-input#email(type="email", placeholder='example@gmail.com', required )
            input.btn-submit(type="submit")
            #error
            #success

block scripts
    script(src="/javascript/forgotPassword.js")