extends base

block content
     .main
        h1.heading-primary Start Express App
        .links-container
            a.anchor(href="https://github.com/draganpodrascanin/start-express-app", target="_blank") github
            a.anchor(href="https://www.npmjs.com/package/start-express-app" target="_blank") npm