extends base 

block content
    .form-container
        h1.heading-primary Log in
        form.form#loginform 
            .form-group
                label.form-label(for='email') Enter your email    
                input.form-input#email(type="email", placeholder='example@gmail.com', required )
            .form-group
                label.form-label(for='password') Enter your password    
                input.form-input#password(type="password", placeholder='••••••••••', required )
            input.btn-submit(type="submit")
            #error

block sripts
    script(src="/javascript/login.js")