extends base

block content
    .form-container
        h1.heading-primary Reset Password
        br
        form.form#ressetpassword-form
            .form-group
                label.form-label(for='password') New Password 
                input.form-input#password(type="password", placeholder='new password', required )
            .form-group
                label.form-label(for='passwordConfirm') Confirm new password   
                input.form-input#passwordConfirm(type="password", placeholder='confirm new password', required )
            input.btn-submit(type="submit")
            #error
            #success

block scripts
    script(src="/javascript/resetPassword.js")