extends base 

block content
    .form-container
        h1.heading-primary Sign Up
        form.form#signupform 
            .form-group
                label.form-label(for='firstName') Enter your first name    
                input.form-input#firstName(type="input", placeholder='John', required )
            .form-group
                label.form-label(for='lastName') Enter your last name    
                input.form-input#lastName(type="input", placeholder='Doe', required )
            .form-group
                label.form-label(for='email') Enter your email    
                input.form-input#email(type="email", placeholder='example@gmail.com', required )
            .form-group
                label.form-label(for='password') Enter your password    
                input.form-input#password(type="password", placeholder='••••••••••', required )
            .form-group
                label.form-label(for='passwordConfirm') Enter your password    
                input.form-input#passwordConfirm(type="password", placeholder='••••••••••', required )
            input.btn-submit(type="submit")
            #error

block scripts
    script(src="/javascript/signup.js")